*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/libs/
app/src/main/jniLibs/
app/src/main/libs/
openCVLibrary320/build/generated/assets/
openCVLibrary320/build/generated/res/
openCVLibrary320/build/generated/source/aidl/androidTest/
openCVLibrary320/build/generated/source/apt/
openCVLibrary320/build/generated/source/rs/
openCVLibrary320/build/intermediates/bundles/debug/aidl/
openCVLibrary320/build/intermediates/bundles/debug/assets/
openCVLibrary320/build/intermediates/bundles/default/aidl/
openCVLibrary320/build/intermediates/bundles/default/assets/
openCVLibrary320/build/intermediates/bundles/default/jni/
openCVLibrary320/build/intermediates/bundles/default/libs/
openCVLibrary320/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
openCVLibrary320/build/intermediates/incremental/packageDebugAndroidTest/
openCVLibrary320/build/intermediates/incremental/processDebugAndroidTestResources/
openCVLibrary320/build/intermediates/incremental/processDebugResources/
openCVLibrary320/build/intermediates/incremental/processReleaseResources/
openCVLibrary320/build/intermediates/jniLibs/
openCVLibrary320/build/intermediates/lint/
openCVLibrary320/build/intermediates/manifest/tmp/
openCVLibrary320/build/intermediates/rs/
openCVLibrary320/build/intermediates/shaders/
openCVLibrary320/build/intermediates/transforms/
openCVLibrary320/build/tmp/
snappik/libs/
snappik/src/main/jniLibs/
snappik/src/main/libs/
snappik/src/main/obj/
snappik/src/main/res/drawable/
src/androidTest/java/io/
src/test/java/io/
